/*
* {
  outline: 1px solid red !important;
}
*/


*:focus {
  outline: none;
}

a{
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

input {
  outline: none;
}

body{
  background-color: #eeeeee;
}

.contents {
  margin-left: 120px;
  margin-right: 100px;
}

.header{
  display: flex;
}

/*タイトル*/
.header_title {
  position: relative;
  color: #305dff;
  font-size: 30px;
  font-weight: bolder;
  left:45px;
  top: 45px;
  z-index: 1000;
}

/*メニューボタン*/

.menubtn {
  position: relative;
  background: #305dff;
  cursor: pointer;
  top: 40px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #a1a1a1;
  z-index: 1500;
}

.menubtn span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 10px;
  height: 1px;
  border-radius: 2px;
  background: #ffffff;
}

.menubtn span:nth-of-type(1) {
  top: 12px;
  width: 20%;
}

.menubtn span:nth-of-type(2) {
  top: 19px;
  width: 50%;
}

.menubtn span:nth-of-type(3) {
  top: 26px;
  width: 10%;
}

/*activeクラスが付与されると線が回転して×になる*/

.menubtn.active span:nth-of-type(1) {
  top: 13px;
  left: 8px;
  transform: translateY(6px) rotate(-135deg);
  width: 60%;
}

.menubtn.active span:nth-of-type(2) {
  opacity: 0;
}

.menubtn.active span:nth-of-type(3) {
  top:25px;
  left: 8px;
  transform: translateY(-6px) rotate(135deg);
  width: 60%;
}

/*メニュー*/
.header_nav{
  display: none;
}

.header_nav.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #eeeeee;
  transition: ease .4s;
  z-index: 1000;
  padding-top: 200px;
}

.nav_items.active {
  padding: 0;
}

.nav-items_item{
  font-size: 24px;
  color: #305dff;
  margin-top: 30px;
  text-align: center;
}

.menu_item_logout{
  font-size: 24px;
  color: #305dff;
  border: none;
  cursor: pointer;
  font-weight: 100;
}

/*登録画面*/
.login{
  margin-top: 150px;
}

.login_card{
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 5px;
  width: 30%;
  box-shadow: 0px 3px 3px #a1a1a1;
}

.login_header{
  background-color: #305dff;
  border: 1px solid #305dff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.login_content{
  padding: 0px 30px 20px;
}

.login_content li {
  padding-top: 20px;
}

.login_input {
  margin-bottom: 15px;
}

.login_input_item{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #3b3b3b;
  width:85%;
  font-size: 14px;
}

.login_validation{
  color: #e60033;
  font-size: 12px;
}

.login_icn{
  width: 24px;
  position: relative;
  top: 6px;
}

.login_btn{
  text-align: right;
  position: relative;
  right: 10px;
}

.login_btn_item{
  display: inline-block;
  background-color: #305dff;
  border: 1px solid #305dff;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

/*検索フォーム*/
.search{
  display: flex;
  position: relative;
  justify-content: flex-end;
}

.search_form{
  height: 40px;
  border: 1px solid #ffffff;
  width: 30%;
}

.search_form_area {
  width: 10%;
  cursor: pointer;
}

.search_form_category {
  width: 10%;
  cursor: pointer;
}

.search_form_keyword{
  width: 300px;
}

/*一覧ページ*/

.shop {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 50px;
}

.shop_card {
  width: 290px;
  height: 280px;
  box-shadow: 0px 3px 10px #a1a1a1;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.shop_card_img img {
  width: 100%;
  height: 150px;
  border-radius: 5px 5px 0px 0px;
  object-fit: cover;
}

.shop_card_content {
  padding: 15px;
  
}

.card_content_ttl {
  font-size: 18px;
}

.card_content_tag {
  display: flex;
  font-size: 12px;
  padding: 10px 0px;
}

.card_content_footer {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  align-items: center;
}

.card_content_detailbtn {
  display: inline-block;
}

.card_content_fav {
  text-align: right;
  width: 50%;
  padding-right: 10px;
}

.fav_btn {
  width: 35px;
}

/*詳細ページ*/

.item{
  display: flex;
  justify-content: space-between;
}

.detail{
  margin-top: 100px;
  width: 46%;
}

.detail_top{
  display: flex;
  margin-bottom: 30px;
}

.detail_top_title{
  font-size: 28px;
  padding-left: 15px;
}

.detail_img img{
  width: 100%;
}

.detail_tag{
  padding-top: 30px;
}

.detail_overview{
  padding-top: 30px;
  line-height: 24px;
}

.detail_top_backbtn{
  position: relative;
  background: #ffffff;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #a1a1a1;
}

.detail_top_backbtn span{
  display: inline-block;
  position: absolute;
  left: 8px;
  height: 2px;
  border-radius: 5px;
  background-color: #3b3b3b;
}

.detail_top_backbtn span:nth-of-type(1) {
  top: 11px;
  width: 40%;
  transform: rotate(-30deg) translateY(1px);
}

.detail_top_backbtn span:nth-of-type(2) {
  top: 18px;
  width: 40%;
  transform: rotate(30deg) translateY(-1px);
}

.booking{
  width: 46%;
  height: 600px;
  background-color: #305dff;
  border-radius: 5px;
  padding-top: 30px;
  color: #ffffff;
}

.booking_title{
  font-size: 24px;
  padding-left: 30px;
}

.booking_form{
  padding-top: 30px;
}

.booking_form_item{
  height: 30px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-left: 30px;
  cursor: pointer;
}

.date{
  width: 50%;
}

.time{
  width: 85%;
  box-sizing: border-box;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

.number{
  width: 85%;
  box-sizing: border-box;
}

.booking_content{
  background-color: #4d7fff;
  width: 85%;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 30px;
}

.booking_content_table{
  text-align: left;
  margin-left: 30px;
  font-size: 14px;
  font-weight: 500;
}

.booking_content_table th{
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
}

.booking_content_table td{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
}

.bookbtn{
  background-color: #0538ff;
  width: 100%;
  color: #ffffff;
  border: 1px solid #0538ff;
  height: 60px;
  font-size: 16px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  margin-top: 230px;
}

/*予約完了ページ*/
.thanks{
  background-color: #ffffff;
  border: 1px solid #ffffff; 
  border-radius: 5px;
  box-shadow: 3px 3px 3px #a1a1a1;
  position: relative;
  top: 100px;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.thanks_content{
  font-size: 24px;
  font-weight: lighter;
  padding-top: 100px;
  padding-bottom: 50px;
}

.btn{
  display: inline-block;
  background-color: #305dff;
  border: 1px solid #305dff;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  padding: 10px 15px;
}

.backbtn{
  margin-bottom: 100px;
}

/*マイページ*/
.mypage{
  display: flex;
  margin-top: 50px;
}

.username {
  font-size: 30px;
  padding-left: 43vw;
  padding-top: 60px;
}

.mypage_booking{
  width: 43vw;
}

.mypage_booking_ttl {
  font-size: 24px;
  margin-bottom: 30px;
}

.mypage_booking_card{
  background-color: #305dff;
  border-radius: 5px;
  color: #ffffff;
  width: 430px;
  margin-bottom: 10px;
  padding-top: 20px;
  box-shadow: 0px 3px 10px #a1a1a1;
  box-sizing: border-box;
}

.booking_card_header{
  display: flex;
  padding-left: 30px;
}

.clockicn {
  width: 30px;
}

.deleteicn {
  border: none;
  width: 30px;
  margin-left: 250px;
}

.deleteicn:hover {
  cursor: pointer;
}

.booking_card_ttl{
  font-size: 16px;
  padding-left: 25px;
  padding-top: 5px;
}

.mypage_booking_input{
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 3px 0px ;
  height: 30px;
  cursor: pointer;
}

.booking_update_btn{
  background-color: #0538ff;
  width: 100%;
  color: #ffffff;
  border: 1px solid #0538ff;
  height: 60px;
  font-size: 16px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  margin-top: 30px;
}

.mypage_favorite {
  width: 50%;
}

.mypage_favorite_ttl{
  font-size: 24px;
  margin-bottom: 30px;
}

.favorite_shop{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}