body{
  background-color: #eeeeee;
}

.contents {
  margin-left: 100px;
  margin-right: 100px;
}

.header{
  display: flex;
  position: sticky;
}

/*メニューボタン*/

.menubtn {
  position: relative;
  background: #305dff;
  cursor: pointer;
  top: 40px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #a1a1a1;
}

.menubtn span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 10px;
  height: 1px;
  border-radius: 2px;
  background: #fff;
}


.menubtn span:nth-of-type(1) {
  top: 12px;
  width: 20%;
}

.menubtn span:nth-of-type(2) {
  top: 19px;
  width: 50%;
}

.menubtn span:nth-of-type(3) {
  top: 26px;
  width: 10%;
}

/*activeクラスが付与されると線が回転して×になる*/

.menubtn.active span:nth-of-type(1) {
  top: 13px;
  left: 8px;
  transform: translateY(6px) rotate(-135deg);
  width: 60%;
}

.menubtn.active span:nth-of-type(2) {
  opacity: 0;
}

.menubtn.active span:nth-of-type(3) {
  top:25px;
  left: 8px;
  transform: translateY(-6px) rotate(135deg);
  width: 60%;
}


/*タイトル*/
.header_title{
  position: relative;
  color:#305dff;
  font-size: 30px;
  font-weight: bolder;
  left: 30px;
  top: 47px;
}

/*検索フォーム*/
.search{
  display: flex;
  position: relative;
  justify-content: flex-end;
}

.search_form{
  height: 40px;
  border: 1px solid white;
  width: 30%;
}

.search_form_area{
  width: 10%;
}

.search_form_category {
  width: 10%;
}

.search_form_keyword{
  width: 300px;
}

/*一覧ページ*/

.shop{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  padding-top: 50px;
}

.shop_card{
  width: 24%;
  box-shadow: 0px 3px 10px #3b3b3b;
  border-radius: 5px;
  margin-bottom: 40px;
}

.shop_card_img img {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}


/*詳細ページ*/
.item{
  display: flex;
  justify-content: space-between;
}

.detail{
  margin-top: 100px;
  width: 46%;
}

.detail_top{
  display: flex;
  margin-bottom: 30px;
}

.detail_top_title{
  font-size: 28px;
  padding-left: 15px;
}

.detail_img img{
  width: 100%;
}

.detail_tag{
  padding-top: 30px;
}

.detail_overview{
  padding-top: 30px;
  line-height: 24px;
}

.detail_top_backbtn{
  position: relative;
  background: white;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #a1a1a1;
}

.booking{
  width: 46%;
  background-color: #305dff;
  border-radius: 5px;
}

.booking_card{
  position: relative;
  left: 30px;
  top: 30px;
  color: #fff;
}

.booking_title{
  font-size: 24px;
}

.booking_form{
  padding-top: 30px;
}

.booking_form_item{
  height: 30px;
  border: 1px solid white;
  border-radius: 5px;
  display: block;
  margin-bottom: 15px;
}

.date{
  width: 50%;
}

.time{
  width: 85%;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

.number{
  width: 85%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.booking_content{
  background-color: #4d7fff;
  width: 85%;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.booking_content_table{
  text-align: left;
  margin-left: 30px;
}

.booking_content_table th{
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: lighter;
}

.booking_content_table td{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
}

